---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.0.1 Serrano/v0.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":116399593,"items":[{"indexed":{"date-parts":[[2020,4,7]],"date-time":"2020-04-07T17:46:51Z","timestamp":1586281611414},"reference-count":1,"publisher":"Informa
        UK Limited","issue":"10","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Analytical
        Letters"],"published-print":{"date-parts":[[1974,10]]},"DOI":"10.1080\/00032717408059028","type":"journal-article","created":{"date-parts":[[2011,9,26]],"date-time":"2011-09-26T23:35:01Z","timestamp":1317080101000},"page":"675-679","source":"Crossref","is-referenced-by-count":0,"title":["Thermographic
        Characteristics and Semi-Microanalysis of 1, 3, 4-Alkylderivatives of 5-Aminopyrazol"],"prefix":"10.1080","volume":"7","author":[{"given":"A.
        A.","family":"Novikova","sequence":"first","affiliation":[]},{"given":"F.
        M.","family":"Shemyakin","sequence":"additional","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2006,12,6]]},"reference":[{"key":"CIT0001","author":"Novikova
        A. A.","volume":"6","first-page":"381","year":"1973","journal-title":"Analytical
        Letters","DOI":"10.1080\/00032717308058685","doi-asserted-by":"crossref"}],"container-title":["Analytical
        Letters"],"language":"en","link":[{"URL":"http:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/00032717408059028","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,20]],"date-time":"2017-06-20T06:59:05Z","timestamp":1497941945000},"score":1.0,"issued":{"date-parts":[[1974,10]]},"references-count":1,"journal-issue":{"published-online":{"date-parts":[[2006,12,6]]},"published-print":{"date-parts":[[1974,10]]},"issue":"10"},"alternative-id":["10.1080\/00032717408059028"],"URL":"http:\/\/dx.doi.org\/10.1080\/00032717408059028","relation":{"cites":[]},"ISSN":["0003-2719","1532-236X"],"issn-type":[{"value":"0003-2719","type":"print"},{"value":"1532-236X","type":"electronic"}]},{"indexed":{"date-parts":[[2020,4,11]],"date-time":"2020-04-11T07:21:17Z","timestamp":1586589677722},"reference-count":0,"publisher":"American
        Meteorological Society","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Mon.
        Wea. Rev."],"published-print":{"date-parts":[[1888,4]]},"DOI":"10.1175\/1520-0493(1888)164[c1:citoao]2.0.co;2","type":"journal-article","created":{"date-parts":[[2007,1,26]],"date-time":"2007-01-26T19:26:05Z","timestamp":1169839565000},"page":"c1-c1","source":"Crossref","is-referenced-by-count":0,"title":["Chart
        I. Tracks of Areas of Low Pressure. April, 1888."],"prefix":"10.1175","volume":"16","member":"12","container-title":["Monthly
        Weather Review"],"language":"en","deposited":{"date-parts":[[2011,5,25]],"date-time":"2011-05-25T15:16:53Z","timestamp":1306336613000},"score":1.0,"issued":{"date-parts":[[1888,4]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1888,4]]},"issue":"4"},"alternative-id":["10.1175\/1520-0493(1888)164[c1:CITOAO]2.0.CO;2"],"URL":"http:\/\/dx.doi.org\/10.1175\/1520-0493(1888)164[c1:citoao]2.0.co;2","ISSN":["0027-0644","1520-0493"],"issn-type":[{"value":"0027-0644","type":"print"},{"value":"1520-0493","type":"electronic"}],"subject":["Atmospheric
        Science"]},{"indexed":{"date-parts":[[2020,4,15]],"date-time":"2020-04-15T07:45:08Z","timestamp":1586936708215},"reference-count":0,"publisher":"Wiley","issue":"1","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":2197,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1111\/j.1439-0418.1928.tb00035.x","type":"journal-article","created":{"date-parts":[[2010,7,29]],"date-time":"2010-07-29T11:44:44Z","timestamp":1280403884000},"page":"203-210","source":"Crossref","is-referenced-by-count":0,"title":["Probleme
        der landwirtschaftlichen Entomologie1"],"prefix":"10.1111","volume":"13","author":[{"given":"Filippo","family":"Silvestri","sequence":"first","affil[...]
