---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.0.1 Serrano/v0.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":116415848,"items":[{"indexed":{"date-parts":[[2020,8,3]],"date-time":"2020-08-03T14:51:14Z","timestamp":1596466274669},"reference-count":13,"publisher":"Elsevier
        BV","issue":"21","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,11,1]],"date-time":"2018-11-01T00:00:00Z","timestamp":1541030400000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/","start":{"date-parts":[[2019,11,12]],"date-time":"2019-11-12T00:00:00Z","timestamp":1573516800000},"delay-in-days":376,"content-version":"vor"}],"content-domain":{"domain":["clinicalkey.jp","clinicalkey.com","clinicalkey.es","clinicalkey.com.au","clinicalkey.fr","interventions.onlinejacc.org","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["JACC:
        Cardiovascular Interventions"],"published-print":{"date-parts":[[2018,11]]},"DOI":"10.1016\/j.jcin.2018.08.018","type":"journal-article","created":{"date-parts":[[2018,11,5]],"date-time":"2018-11-05T21:37:34Z","timestamp":1541453854000},"page":"2182-2184","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["A
        Stitch in Time"],"prefix":"10.1016","volume":"11","author":[{"suffix":"Jr.","given":"James
        L.","family":"Januzzi","sequence":"first","affiliation":[]},{"given":"Sammy","family":"Elmariah","sequence":"additional","affiliation":[]}],"member":"78","container-title":["JACC:
        Cardiovascular Interventions"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1936879818318429?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1936879818318429?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2020,8,3]],"date-time":"2020-08-03T14:05:52Z","timestamp":1596463552000},"score":1.0,"issued":{"date-parts":[[2018,11]]},"references-count":13,"journal-issue":{"published-print":{"date-parts":[[2018,11]]},"issue":"21"},"alternative-id":["S1936879818318429"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.jcin.2018.08.018","ISSN":["1936-8798"],"issn-type":[{"value":"1936-8798","type":"print"}],"subject":["Cardiology
        and Cardiovascular Medicine"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"A Stitch in Time","name":"articletitle","label":"Article
        Title"},{"value":"JACC: Cardiovascular Interventions","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/j.jcin.2018.08.018","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"https:\/\/doi.org\/10.1016\/j.jcin.2018.07.039","name":"associatedlink","label":"CrossRef
        DOI link to the ass[...]
